<div class="navBar">
  <div class="container__navBar">
    <div class="logo">
      <i class="fa-solid fa-fingerprint"></i>
      <h1>Influ</h1>
    </div>

    <ul>
      <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
      <li class="ativa"><a href="#"><i class="fa-solid fa-users"></i>Imfluenciadores</a></li>
      <li><a href="#"><i class="fa-solid fa-heart"></i>Favoritos</a></li>
      <li><a href="#"><i class="fa-solid fa-users-viewfinder"></i>Descobrir</a></li>
      <li><a href="#"><i class="fa-solid fa-handshake"></i>Comunidade</a></li>
      <li><a href="#"><i class="fa-regular fa-message"></i>Mensagens</a></li>
    </ul>

    <div class="login">
      <div class="login__info">
        <a href="#"><i class="fa-solid fa-user"></i>Login</a>
      </div>
    </div>

  </div>
</div>

